<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Happy_Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Visual_Novel_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Happy_Search.Properties.Settings>
      <setting name="UserID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TagTypeC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagTypeS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TagTypeT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNSFWImages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DumpfilesUpdate" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="DBStatsUpdate" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="RememberCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URTUpdate" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="AutoUpdateURT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Limit10Years" serializeAs="String">
        <value>True</value>
      </setting>
    </Happy_Search.Properties.Settings>
    <Visual_Novel_Database.Properties.Settings>
      <setting name="UserID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TagTypeC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagTypeS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagTypeT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagTypeC2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagTypeS2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TagTypeT2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TileImageFill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNSFWImages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TagdumpUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="DBStatsUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URTUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoUpdateURT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Limit10Years" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBlacklistedTitles" serializeAs="String">
        <value>True</value>
      </setting>
    </Visual_Novel_Database.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>