body {
    font-family: Calibri;
    font-size: 12px;
    background-color: #003399;
    color: white;
}

a:link {
    color: white;
}
a:visited{
  color:white;
}
h3 {
    padding: 10px 0 5px 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}
